.hero {
  padding: 2rem 8rem 0 8rem;
  background-color: var(--forest);
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin-bottom: 9rem;
}

.hero-text {
  grid-column: 1;
}

.hero-text h1 {
  color: var(--yellow);
  font-size: 3.5rem;
  font-family: var(--Markazi);
  font-weight: normal;
}

.hero-text h2 {
  color: var(--grey);
  font-size: 2.5rem;
  font-family: var(--Markazi);
  font-weight: normal;
}

.hero-text p {
  margin-top: 1.5rem;
  color: var(--grey);
  font-family: var(--Karla);
}

.cta-button {
  padding: 0.7rem 1rem;
  border-radius: 2rem;
  background-color: var(--yellow);
  border: 1px solid var(--yellow);
  margin-top: 2rem;
  color: var(--forest);
  font-weight: bold;
  cursor: pointer;
}

.cta-button:hover,
.cta-button:focus {
  background-color: var(--forest);
  color: var(--yellow);
}

.hero-image {
  grid-column: 2;
  width: 100%;
  height: 24rem;
  margin-bottom: -4rem;
  justify-self: end;
  border-radius: 1rem;
  object-fit: cover;
}
