.hero {
  padding: 2rem 8rem 0 8rem;
  background-color: var(--forest);
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin-bottom: 9rem;
}

.hero-text {
  grid-column: 1;
}

.hero-text h1 {
  color: var(--yellow);
  font-family: var(--Markazi);
  font-weight: normal;
}

.hero-text h2 {
  color: var(--grey);
  font-family: var(--Markazi);
  font-weight: normal;
}

.hero-text p {
  margin-top: 1.5rem;
  color: var(--grey);
  font-family: var(--Karla);
}

.cta-button {
  margin-top: 2rem;
}

.cta-button:hover,
.cta-button:focus {
  background-color: var(--forest);
  color: var(--yellow);
}

.hero-image {
  grid-column: 2;
  width: 100%;
  height: 24rem;
  margin-bottom: -4rem;
  justify-self: end;
  border-radius: 1rem;
  object-fit: cover;
}

/*-- Media queries --*/

@media (max-width: 792px) {
  .hero-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .hero-text {
    grid-row: 1;
  }

  .hero-image {
    grid-column: 1;
    grid-row: 2;
  }
}
