.testimonials-section {
  background-color: var(--forest);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 1.25rem;
}

.testimonials h2 {
  grid-column: 1 / 5;
  grid-row: 1;
  margin-bottom: 1.875rem;
  color: white;
  font-family: var(--Markazi);
  font-weight: normal;
}

/*-- Media queries --*/

@media (max-width: 949px) {
  .testimonials {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  .testimonials h2 {
    grid-column: 1 / 4;
  }
}

@media (max-width: 711px) {
  .testimonials {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
  }

  .testimonials h2 {
    grid-column: 1 / 3;
  }
}

@media (max-width: 576px) {
  .testimonials {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
  }

  .testimonials h2 {
    grid-column: 1 / 2;
  }
}
