:root {
  --forest: #495e57;
  --yellow: #f4ce14;
  --coral: #ee9972;
  --peach: #fbdabb;
  --grey: #edefee;
  --black: #333333;

  --Markazi: 'Markazi Text', serif;
  --Karla: 'Karla', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

.btn {
  padding: 0.7rem 1rem;
  border-radius: 2rem;
  background-color: var(--yellow);
  border: 2px solid var(--yellow);
  color: var(--forest);
  font-weight: bold;
  cursor: pointer;
}

section {
  padding: 2rem 8rem 0 8rem;
}

@media (max-width: 960px) {
  section {
    padding: 2rem 2rem 0 2rem;
  }
}

@media (max-width: 692px) {
  section {
    padding: 2rem 2rem 0 2rem;
  }
}
